.outer-container {
  min-height: 100vh;
  position: relative;
}

.container {
  padding-top: 1em;
  padding-bottom: 3rem;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 3rem;
  text-align: center;
  background-color: #376e6f;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 30px;
  font-size: 4rem;
}

.error-msg {
  padding-bottom: 20px;
  color: red;
}

@media (max-width: 475px) {
  .title {
    font-size: 3rem;
  }
}
