.member-container {
  margin: 3em auto;
  background-color: rgba(55, 110, 111, 0.65);
  width: 70%;
  padding: 30px 0;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
  text-align: center;
  max-width: 1100px;
}

.team-title {
  font-size: 2.5rem;
}

.member-items {
  color: white;
  background-color: rgba(28, 57, 57, 0.55);
  border-radius: 30px;
  padding: 15px 0;
  margin: 20px 50px;
}

.member-items p {
  padding: 10px 0;
}
